<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DPX - Desenvolvimento de Planilhas em Excel</title>
        <link rel="stylesheet" href="assets/stylesheets/carrousel.css">
    </head>
    <body>
        <div id="carrousel" ng-app="dpx" ng-controller="CarrouselController">
            <header>
                <ul>
                    <li ng-repeat="item in items">
                        <a href="#" ng-click="select(item)" ng-class="{selected: item.selected}">{{item.title}}</a>
                    </li>
                </ul>
            </header>

            <section ng-mouseout="turnOn()" ng-mouseenter="turnOff()">
                <img ng-repeat="item in items" ng-src="{{item.src}}" ng-fadein="item.selected">
                <footer>
                    <ul>
                        <li ng-repeat="item in items">
                            <a href="#" ng-mouseenter="select(item)" ng-class="{selected: item.selected}">{{$index}}</a>
                        </li>
                    </ul>
                </footer>
            </section>
            <div class="social" ng-show="showSocial()">
                <a ng-repeat="network in networks" href="{{network.href}}" target="_blank">
                    <img ng-src="{{network.src}}" alt="{{network.alt}}" />
                </a>
            </div>
        </div>
        <script type="text/javascript" src="assets/javascripts/libraries/angular.js"></script>
        <script type="text/javascript" src="assets/javascripts/libraries/jquery.min.js"></script>
        <script type="text/javascript" src="assets/javascripts/application.js"></script>
        <script type="text/javascript" src="assets/javascripts/directives/mouseenter.js"></script>
        <script type="text/javascript" src="assets/javascripts/directives/mouseout.js"></script>
        <script type="text/javascript" src="assets/javascripts/directives/fadein.js"></script>
        <script type="text/javascript" src="assets/javascripts/controllers/carrousel.js"></script>
    </body>
</html>