<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <title>DPX - Desenvolvimento de Planilhas em Excel</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>